#map-container,
#social-container {
    position: relative;
    width: 80%;
    /*margin: 20px 0 40px 0;*/
    margin: auto;
    height: 400px;
    padding: 0 0 40px 0;    
}

#social-container {
    height: auto;
}

#map-container>iframe {
    width: 100%;    
    height: 100%;
    max-width: 100%;
    border-radius: 12px;
}

.social-media-list {
    font-size: 2em;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-media-list li {
    padding: 0 10px;
}

/*  forulario mk*/
/* formulario contacto */

.formulario {
    margin: 0 auto;
    display: table;
  }
  
  .formulario label{
      font-size:18px;
      font-style:normal;
      margin-right:8px;
      color: rgb(0, 0, 0);
      font-family: 'Montserrat', sans-serif;
  }
  .div_formulario {
      justify-content: center;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
  
  .table_formulario tbody{
    justify-content: center;
    justify-content: space-around;
    /* margin-left: 400px; */
  }
  
    .formulario input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      
      
    }
    
    .formulario input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
      
    }
    
  .formulario button {
      display:block;
      width: 100%;
      padding: 10px;
      background-color: #3498db;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }

.messages li  {
    text-align: center;
    width: 100%;
    color: grid-gap;
    margin-top: 10px;
}


/* ######################## */

/* Estilos Default */
body, h1, form {
    margin: 0;
    padding: 0;
}

/* Aplico color del bg y tipo fuente */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* Estilizo el header */
/* h1 {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
} */

/* Doy estilo al container */
/*form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de elementos del form */
form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* Hover en el botón */

form button:hover {
    background-color: #2980b9;
}

/* Estilo inputs del form*/
form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Bordes y foco */
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: #3498db;
    transition: border-color 0.3s ease-in-out;
}

/* Estilo a label*/
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Para los espacios entre elementos*/
form p {
    margin-bottom: 10px;
}

/* Centrar el form*/
form {
    text-align: center;
}

/* Animacion para el contenedor del form */
/* @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */

/* Animacion del fade */
/* form {
    animation: fadeIn 0.5s;
} */



.mensaje_form{
    width: 100%;
    resize: none;
    height: 150px
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');