@import "./formularios.css";
/* reset estilo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilo global */
#Titulo{
  display: flex;
  align-self: center;
  align-items: center;
  text-align: center;
font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif}

body {
  font-family: 'Montserrat', sans-serif; 
  color: #053a80;
  /*background-color: #f7f7f7;*/
  
}

a {
  color: #0077c0;
  text-decoration: none;
}

ul {
  list-style: none;
  
}

/* estilo header */
header {
  background-color: #006fb3;
  padding: 1em;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  
}

nav li {
  /* margin-left: 1em; */
  display: block;
  padding: 10px;
  
}

nav a {
  color: #fff;
}

h1 {
  text-align: center;
  /* display: flex; */
  align-items: center;
  color: #fff;
  margin-bottom: 5px;
  font-weight: bold;
}
h2 {
  color: #005f9a;
  margin-bottom: 0.5em;
  font-weight: bold;
}

/* estilo seccion principal */
main {
  -ms-flex-align: center;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 1em;
}

section {
  margin-bottom: 2em;
  /* display: flex; */
  flex-direction: row;
}

section h2 {
  margin-bottom: 0.5em;
}

ul li {
  /* margin-bottom: 1em; */
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  
}

ul li img {
  max-width: 100%;
  border: 2px solid #0077c0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  
}

ul li h3 {
  margin-bottom: 0.5em;
  
}

/* estilo footer */
.CursosLista{
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  color: white;
}
.CursosLista > li {
  background-color: DodgerBlue;
  color: white;
  width: 150px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 25px;
}



footer {
  background-color: #00395b;
  color: #fff;
  padding: 1em;
  text-align: center;
  bottom: 0;
  position: fixed;
  font-size: 12px;
  width: 100%;
  left: 0;
}

footer p {
  margin-bottom: 0;
}

/* footer:before {
  content: "© 2023 Plataforma de aprendizaje en linea. Todos derechos reservados.";
} */

img {
  height: 300px;
  width: 400px;
}
HEAD cursos-lista {
  display: flex;
  align-items: center;
}
.menuSuperior{font-family: 'Roboto', sans-serif;;
  
}


/*carouel*/

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

#carouselDiv{
  margin: 0 auto;
  max-width: 400px;
}

.carousel-buttons {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.carousel-buttons button {
  padding: 10px 20px;
  background-color: #007bff; /* Change to your desired button background color */
  color: white;
  border: none;
  border-radius: 5px; /* Adjust the border radius as needed */
  cursor: pointer;
  margin: 5px; /* Adjust the margin as needed */
}

.carousel-buttons button:hover {
  background-color: #0056b3; /* Change to your desired hover color */
}

body {
  /* max-width: 37.5rem; */
  margin: 0 auto;
  /* padding: 0 1.25rem; */
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  /* background-color: #f99; */
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    cursor: pointer;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: -15px;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

nav ul li:hover {
  background: #005991;
}

label {
  display: block;
  margin-bottom: 5px;
}
/* #carousel__slide1 {
  height: 400px;
  width: 200px;
  background-image: url(../img/dibujo-tecnico.jpg);
}
#carousel__slide2 {
  height:400px;
  width: 200px;
  background-image: url(../img/fisica.jpg);
}
#carousel__slide3 {
  height: 400px;
  width: 200px;
  background-image: url(../img/matematica.jpg);
}
#carousel__slide4 {
  height: 400px;
  width: 200px;
  background-image: url(../img/quimica.jpg);
} */

/*Titulo neon*/
.neonText {  
  color: #fff;
  animation: changeTitle 5s infinite;
  text-shadow:
      /* 0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa; */
      0 0 7px #fff,
      0 0 10px #fff, 
      0 0 21px #fff, 
      0 0 42px #0f8cd8, 
      0 0 82px #0f8cd8, 
      0 0 92px #0f8cd8, 
      0 0 102px #0f8cd8, 
      0 0 151px #0f8cd8;
}

 @keyframes changeTitle {
  0% {   
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff, 
    0 0 21px #fff, 
    0 0 42px #0f8cd8, 
    0 0 82px #0f8cd8, 
    0 0 92px #0f8cd8, 
    0 0 102px #0f8cd8, 
    0 0 151px #0f8cd8; 
  }
  50% { 
    text-shadow:
    0 0 7px #0f8cd8,
    0 0 10px #0f8cd8, 
    0 0 21px #0f8cd8, 
    0 0 42px #0f8cd8, 
    0 0 82px #0f8cd8, 
    0 0 92px #0f8cd8, 
    0 0 102px #0f8cd8, 
    0 0 151px #0f8cd8; 
  }
  100% {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff, 
    0 0 21px #fff, 
    0 0 42px #0f8cd8, 
    0 0 82px #0f8cd8, 
    0 0 92px #0f8cd8, 
    0 0 102px #0f8cd8, 
    0 0 151px #0f8cd8;
   }
} 

#imagecarousel{ 
  width: 100%;
  height: 100%;
}
  
  h1, h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 200xp;
  }
	
  h1 {
	  font-size: 4.2rem;
  }

/* @media screen and (max-width: 600px) {
  nav {
    display: block;
  }
  .grid-menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    display: grid
  }
} */
.iconMenuGrid{
  width: 25px;
  height: 25px;
  float: left;
  display: none;
}
.Burger{
  display: none;
}
#menuC{
  display: none;
}
#login{
  float: right;
  filter: brightness(0) invert(1);
}

.iconMenu{
  width: 40px;
  height: 40px;
  float: left;
}

.iconLogin{
  width: 40px;
  height: 40px;
  float: right;
  right: 16px;
  position: absolute;
  filter: brightness(0) invert(1);
}

.login{
  width: 40px;
  height: 40px;
  float: left;
}

#loginOpen{
  position: fixed;
  background: #15618f;
  top: 0;
  right: 0;
  /* padding-top: 10PX;
  padding-left: 10px; */
  padding: 10px;
  z-index: 1;
}

#cardbox{
  position: inherit;
  color: white;
  text-align: left;
  background: #005f9a;
  width: 400px;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2rem;
    padding-left: 25px;
  }
  #menu-ao{
    position: fixed;
    background: #15618f;
    top: 0;
    left: 0;
    /* padding-top: 10PX;
    padding-left: 10px; */
    padding: 10px;
    z-index: 1;
  }
  .menu-ao{
    position: fixed;
    background: #15618f;
    top: 0;
    left: 0;
    /* padding-top: 10PX;
    padding-left: 10px; */
    padding: 10px;
    z-index: 1;
  }
  .grid-menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    justify-items: left;
    align-items: center;
    display: grid;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .iconMenuGrid{
    display: block;
  }
  .menuList{
    padding-left: 10px;
    margin-bottom: 0px;
  }
  .menuBoock{
    display: none;
  }
  .Burger{
    display: block;
  } 
  #menuC{
    display: block;
  }
  #menuG{
    display: none;
    left: 0px;
  }
  nav ul{
    display: block;
  }
  .iconMenu{
    width: 20px;
    height: 20px;
  }
  nav ul li a img{
    border: none;
  }
  nav ul li:hover {
    background: #00385b;
  }
}/* @media screen and (max-width: 800px) {
  h1 {
      font-size: 2.2rem;
  }
} */
	
  h2 {
	  font-size: 1.8rem;
  }
  
  .container {
	margin-top: 20vh;
  }
 
#imageList{
  width: 250px;
  height: 150px;
  cursor: pointer;
 /* -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;*/
}

#imageList:hover{
  transform: scale(1.2); 
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  
}

.transition {
  -webkit-transform: scale(1.8); 
  -moz-transform: scale(1.8);
  -o-transform: scale(1.8);
  transform: scale(1.8);
}

#secundario{
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.title-course{
  max-width: 250px;
  text-align: center;
  padding-top: 40px;
}

/* .grid-menu{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
} */
.menuSuperior {
  color: #f1f1f1;
  font-style: italic;
}

.nameCourse{
  position: absolute;
  color: white;
  text-align: left;
  background: #005f9a;
  width: 100%;
  bottom: 0px;
  font-size: 30px;
  text-align: center;
}

.button{
  font-family: inherit;
  /*-moz-appearance: none;*/
  border: none;
  cursor: pointer;
 /* -moz-user-select: none;
  -ms-user-select: none;*/
  padding: 0 16px;
  background-color: #0e7cab;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: background-color 15ms linear, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 36px;
  letter-spacing: 0.06em;
}
.bottonCancel{
  float: right;
}
@media screen and (max-width: 315px) {
  .bottonCancel{
    float: none;
  }
}

.video{
  display: flex;
  justify-content: center;  
}

iframe{
  max-width: 420px;
  height: 240px;  
}

.shadowed-iframe {
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 5px 5px 10px 0 rgba(72, 72, 72, 0.7);
}

.user-nav{
  visibility: hidden;
}

#cursos-carousel{
  border-radius: 15px;
}

/*Importaciòn font Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

