{% extends 'base.html' %}

{% block titulo %}ABM{% endblock%}

{% load static %}

{% block class %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registracion.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/edit-course.css' %}">
{% endblock %}

{% block encabezado %}
<h1 style="font-size: 8vh;">Ediciòn de usuario</h1>
{% endblock %}


{% block contenido %}
<form method="post">{% csrf_token %}
    <p>Se dara la baja el docente: {{ object.first_name }} {{ object.last_name }} <br> legajo: {{ object.username }}  <br> legajo: {{ object.legajo }} </p>
    <input type="submit" value="Confirmar" class="btn btn-danger">
    <a type="button" href="{% url 'abm_user' %}" value="Cancalar" class="btn btn-primary">Cancelar</a>
</form>


{% endblock %}