{% extends 'base.html' %}

{% block titulo %}ABM{% endblock%}

{% load static %}

{% block class %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registracion.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/edit-course-edit.css' %}">
{% endblock %}

{% block encabezado %}
<h1 style="font-size: 8vh;">Ediciòn de docente</h1>
{% endblock %}


{% block contenido %}
<a name="" id="" class="btn btn-primary" href="{% url 'docente_nuevo' %}" role="button" > <i class="fa-solid fa-circle-plus"></i> Nuevo</a>
    <div class="table-responsive">   
        <table class="table" style="width: 100%;margin-left: auto;margin-right: auto;">
            <thead >
                <tr>
                    <th scope="col" style="width: auto;">Legajo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col" >Apellido</th>
                    <th scope="col" >E Mail</th>
                    <th scope="col" style="width: auto;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for docente in object_list  %}
                    <tr>
                        <td style="text-align: center;width: auto;text-align: center; vertical-align: middle;">{{docente.legajo}}</td>
                        <td >{{docente.first_name}}</td>
                        <td >{{docente.last_name}}</td>
                        <td >{{docente.email}}</td>
                        <td style="width: auto;">
                            <div style="display: flex; justify-content: center; gap: 8px; padding: 7px;">
                                <a class="btn btn-primary" href="{{docente.modificar_docente}}" title="Editar" >Editar</a>
                                <a class="btn btn-danger " href="{{docente.baja_docente}}" title="Eliminar" >Eliminar</a>
                            </div>
                            
                        
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}