{% extends 'base.html' %}

{% block titulo %}Cursos-ABM{% endblock%}

{% load static %}

{% block class %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registracion.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/edit-course-edit.css' %}">
{% endblock %}

{% block encabezado %}
<h1 style="font-size: 8vh;">Ediciòn de Cursos</h1>
{% endblock %}

{% block contenido %}
<a name="" id="" class="btn btn-primary" href="{% url 'course_nuevo' %}" role="button"> <i class="fa-solid fa-circle-plus"></i> Nuevo</a>
        <table >
            <thead>
                <tr>
                    <th scope="col" >Tìtulo</th>
                    <th scope="col" >Docente</th>                    
                    <th scope="col" >Duraciòn</th>
                    <th scope="col" >Imagen</th><!--13nov -->                      
                    <th scope="col" >Habilitado</th>
                    <th scope="col" >Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for curso in object_list  %}
                    <tr>
                        <td >{{curso.titulo}}</td>
                        <td >{{curso.docente.first_name}} {{curso.docente.last_name}}</td>
                        <td >{{curso.duracion}}</td>
                        <td ><img src="{{curso.imagen}}" alt="Course Image" style="width: 50px;height: 50px;"></td><!--13nov -->                         
                        <td >{{curso.habilitado}}</td>
                        <td>
                            <div style="display: flex;">
                                <a class="btn btn-primary" href="{{curso.modificar_curso}}" title="Editar" style="padding: 4px;" >Editar</a>
                                <!-- <a type="button" class="btn btn-danger">Eliminar</a> -->
                                <a type="button" class="btn btn-danger" href="{{curso.baja_curso}}" title="Eliminar" style="padding: 4px;">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}