
{% extends 'base.html' %}
{% block titulo %}Inicio{% endblock%}
{% block encabezado %}
<h1 class="neonText" style="font-size: 8vh;">Sitio web de aprendizaje en linea</h1>
{% include 'navigation.html' %}
<p class="menuSuperior">Inscribite en diferentes cursos desde la comodidad de tu casa.</p>
{% endblock %}
{% block contenido %}
{% load static %}

<body>
  <main>
    <div id="principal">
      <h2 id="cardboxTittle">Cursos y Novedades</h2>
      <div id="carouselDiv" class="carousel-container" >
        <cursos-carousel id="cursos-carousel"  class="carousel slide"></cursos-carousel>        
      </div>
      <div class="carousel-buttons">
        <button id="prevButton" class="carousel-button">Previo</button>
        <button id="nextButton" class="carousel-button">Siguiente</button>
      </div>
      <nav width="100%" height="100%" src="pages/cursos.html" scrolling="no" frameborder="no"></nav>
      <div class="video" style="margin-bottom: 60px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SW_esTMlu7w" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen class="shadowed-iframe"></iframe>
      </div>
    </div>
    <div id="secundario">
      <cursos-selecionado id="cursos-selecionado"></cursos-selecionado>
    </div>
    <div id="openModal" class="modalbg">
      <div class="dialog">
        <a href="#close" title="Close" class="close">X</a>
        <popup id="popup"></popup>
      </div>
    </div>
  </main>

  <script src="{% static 'js/menu.js' %}"></script>
  <script src="{% static 'js/funciones.js' %}"></script>
  <script src="{% static 'js/carouselcursos.js' %}"></script>
</body>
{% endblock %}


