
{% extends 'base.html' %}
{% block titulo %}Inicio{% endblock%}
{% block encabezado %}
<h1 class="neonText" style="font-size: 8vh;">Sitio web de aprendizaje en linea</h1>
{% include 'navigation.html' %}
<p class="menuSuperior">Inscribite en diferentes cursos desde la comodidad de tu casa.</p>
{% endblock %}
{% block contenido %}
{% load static %}

<body>
  <main>
    <div id="principal">
      <h2 id="cardboxTittle">Cursos y Novedades</h2>
      <!--
      <div id="carouselDiv" class="carousel-container" >
        <cursos-carousel id="cursos-carousel"  class="carousel slide"></cursos-carousel>        
      </div>
      <div class="carousel-buttons">
        <button id="prevButton" class="carousel-button">Previo</button>
        <button id="nextButton" class="carousel-button">Siguiente</button>
      </div>
      -->

      <div class="slideshow-container">
        <div class="mySlides">
          <img src="{% static 'img/3d.jpg' %}" alt="Slide 1">
        </div>
      
        <div class="mySlides">
          <img src="{% static 'img/algoritmo.jpg' %}" alt="Slide 2">
        </div>
      
        <div class="mySlides">
          <img src="{% static 'img/arduino.jpg' %}" alt="Slide 3">
        </div>
      
        <!-- Navigation dots -->
        <div class="dot-container">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
      </div>
      
     <br>
     <br>
      


      <nav width="100%" height="100%" src="pages/cursos.html" scrolling="no" frameborder="no"></nav>
      <div class="video" style="margin-bottom: 60px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SW_esTMlu7w" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen class="shadowed-iframe"></iframe>
      </div>
    </div>
    <div id="secundario">
      <cursos-selecionado id="cursos-selecionado"></cursos-selecionado>
    </div>
    <div id="openModal" class="modalbg">
      <div class="dialog">
        <a href="#close" title="Close" class="close">X</a>
        <popup id="popup"></popup>
      </div>
    </div>
  </main>

  <script src="{% static 'js/menu.js' %}"></script>
  <script src="{% static 'js/funciones.js' %}"></script>
  <!--<script src="{% static 'js/carouselcursos.js' %}"></script>-->
  <script>
    let slideIndex = 0;
  showSlides();

  function showSlides() {
    let i;
    const slides = document.getElementsByClassName("mySlides");
    const dots = document.getElementsByClassName("dot");

    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }

    slideIndex++;

    if (slideIndex > slides.length) {
      slideIndex = 1;
    }

    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }

    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";

    setTimeout(showSlides, 4000); // Change slide every 2 seconds
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  </script>
  
</body>
<style>
   * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }

    .mySlides {
      display: none;
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }

    /* Navigation dots */
    .dot-container {
      text-align: center;
      margin-top: 20px;
    }

    .dot {
      height: 15px;
      width: 15px;
      margin: 0 8px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      cursor: pointer;
    }

    .active, .dot:hover {
      background-color: #717171;
    }
</style>
{% endblock %}


