{% load static %}

    <nav id="login">
        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}"><img class="iconLogin" src="{% static 'icons/user-profile-icon.png' %}" alt="menu"></a>
        {% else %}
        <a href="{% url 'logout' %}"><img class="iconLogin" src="{% static 'icons/deslogueo.png' %}" alt="menu"></a>
        {% endif %}
    </nav>
<div class="menu-ao">
    <nav id="menuC">
        <ul>
            <a class="Burger" onclick="showMenu(true)"><img class="iconMenu" src="{% static 'icons/icon-menu-w.png' %}" alt="menu"></a>
            <!-- <a class="menuBoock" href="/"> <img class="iconMenu" src="{% static 'favicon/boock.ico' %}" alt="Pagina principal"></a> -->
        </ul>
    </nav>
    <!--***
    <nav id="menuG">
        <ul  class="grid-menu">
            <a class="menuBoock" href="/"> <img class="iconMenu" src="{% static 'favicon/boock.ico' %}" alt="Pagina principal"></a>
            <a class="Burger" onclick="showMenu(false)"><img class="iconMenu" src="{% static 'icons/icon-menu-w.png' %}" alt="menu"></a>***-->
            <!-- <li><a class="menuList" href="/"><img class="iconMenuGrid" src="{% static 'favicon/boock.ico' %}" alt="Pagina principal">Pagina principal</a></li>
            <li><a class="menuList" href="{% url 'courseAvailable' %}"><img class="iconMenuGrid" src="./favicon/book.ico" alt="Pagina principal">Cursos Disponibles</a></li>
            <li><a class="menuList" href="{% url 'foro' %}"><img class="iconMenuGrid" src="{% static 'favicon/partners.ico' %}" alt="Pagina principal">Foro</a></li>
            <li><a class="menuList" href="{% url 'signup' %}"><img class="iconMenuGrid" src="{% static 'favicon/registro.ico' %}" alt="Pagina principal">Registrese</a></li>
            <li><a class="menuList" href="{% url 'contact' %}"><img class="iconMenuGrid" src="{% static 'favicon/operator.ico' %}" alt="Pagina principal">Contáctenos</a></li> -->
            <!--<li><a class="menuList" href="/"><img class="iconMenuGrid" src="{% static 'favicon/boock.ico' %}" alt="Pagina principal">Pagina principal</a></li>
            {% if not user.is_authenticated %}-->
            <!-- <li><a class="menuList" href="{% url 'signup' %}"><img class="iconMenuGrid" src="{% static 'favicon/registro.ico' %}" alt="Pagina principal">Registrese</a></li> -->
            <!--<li><a class="menuList" href="{% url 'registro' %}"><img class="iconMenuGrid" src="{% static 'favicon/registro.ico' %}" alt="Pagina principal">Registrese</a></li>
            {% else %}
            <li><a class="menuList" href="{% url 'courseAvailable' %}"><img class="iconMenuGrid" src="{% static 'favicon/book.ico' %}" alt="Pagina principal">Cursos Disponibles</a></li>
            <li><a class="menuList" href="{% url 'foro' %}"><img class="iconMenuGrid" src="{% static 'favicon/partners.ico' %}" alt="Pagina principal">Foro</a></li>
            <li><a class="menuList" href="{% url 'abm_user' %}"><img class="iconMenuGrid" src="/static/favicon/operator.ico" alt="Pagina principal">Editar Usuario</a></li>
            <li><a class="menuList" href="{% url 'course_edit' %}"><img class="iconMenuGrid" src="/static/favicon/operator.ico" alt="Pagina principal">Cursos edicion</a></li>
            <li><a class="menuList" href="{% url 'abm_docente' %}"><img class="iconMenuGrid" src="/static/favicon/operator.ico" alt="Pagina principal">Docente edicion</a></li>
            <li><a class="menuList" href="{% url 'curso_estudiante' %}"><img class="iconMenuGrid" src="/static/favicon/operator.ico" alt="Pagina principal">inscripsciones</a></li>
            {% if user.is_staff %}
            <li><a class="menuList" href="{% url 'admin_total' %}"><img class="iconMenuGrid" src="/static/favicon/operator.ico" alt="Pagina principal">Administracion</a></li>
            {% endif %}
            {% endif %}
            <li><a class="menuList" href="{% url 'contact' %}"><img class="iconMenuGrid" src="{% static 'favicon/operator.ico' %}" alt="Pagina principal">Contáctenos</a></li>

            
        </ul>-->
        <!-- <ul id="loginOpen">
            <li><a href="">Login</a></li>
            <li><a href="">Logout</a></li>
        </ul> -->
<!--
    </nav>-->
    <nav id="menuG">
        <ul class="grid-menu">
            <a class="menuBoock" href="/">
                <img class="iconMenu" src="{% static 'favicon/boock.ico' %}" alt="Pagina principal">
            </a>
            <a class="Burger" onclick="showMenu(false)">
                <img class="iconMenu" src="{% static 'icons/icon-menu-w.png' %}" alt="menu">
            </a>
            <li><a class="menuList" href="/"><img class="iconMenuGrid" src="{% static 'favicon/boock.ico' %}" alt="Pagina principal">Inicio</a></li>
            {% if not user.is_authenticated %}
            <li><a class="menuList" href="{% url 'registro' %}"><img class="iconMenuGrid" src="{% static 'favicon/registro.ico' %}" alt="Pagina principal">Registrese</a></li>
            {% else %}
            <li><a class="menuList" href="{% url 'courseAvailable' %}"><img class="iconMenuGrid" src="{% static 'favicon/book.ico' %}" alt="Pagina principal">Cursos Disponibles</a></li>
            <li><a class="menuList" href="{% url 'foro' %}"><img class="iconMenuGrid" src="{% static 'favicon/partners.ico' %}" alt="Pagina principal">Foro</a></li>
            {% if user.is_staff %}
            <li><a class="menuList" href="{% url 'abm_user' %}"><img class="iconMenuGrid" src="/static/favicon/operator.ico" alt="Pagina principal">Editar Usuario</a></li>
            <li><a class="menuList" href="{% url 'course_edit' %}"><img class="iconMenuGrid" src="/static/favicon/operator.ico" alt="Pagina principal">Cursos edición</a></li>
            <li><a class="menuList" href="{% url 'abm_docente' %}"><img class="iconMenuGrid" src="/static/favicon/operator.ico" alt="Pagina principal">Docente edición</a></li>
            <li><a class="menuList" href="{% url 'curso_estudiante' %}"><img class="iconMenuGrid" src="/static/favicon/operator.ico" alt="Pagina principal">Inscripciones</a></li>
            <li><a class="menuList" href="{% url 'admin_total' %}"><img class="iconMenuGrid" src="/static/favicon/operator.ico" alt="Pagina principal">Administración</a></li>
            {% endif %}
            {% endif %}
            <li><a class="menuList" href="{% url 'contact' %}"><img class="iconMenuGrid" src="{% static 'favicon/operator.ico' %}" alt="Pagina principal">Contáctenos</a></li>
        </ul>
    </nav>
    

</div>


