{% extends 'base.html' %}

{% block titulo %}Registrate{% endblock%}

{% load static %}

{% block encabezado %}

<h1>Registrate</h1>
<p class="menuSuperior">¿Ya tienes una cuenta? <a href="/">Ingresar aqui</a>.</p>
{% endblock %}

{% block class %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registracion.css' %}">
<script src="js/registro.js"></script>
{% endblock %}


{% block contenido %}

<body>

    <main>vi
        <form method="post" action="{% url 'registro_form' %}">
            {% csrf_token %}
            {{ registrar_form.as_p }}
            <button type="submit">Registrame</button>
        </form>
 

    </main>
</body>
</html>
{% endblock %}